[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
requests = "*"
crepe = "*"
numpy = "*"
scipy = "*"
librosa = "*"
flask-cors = "*"
pretty_midi = "*"
pymongo = "*"
dotenv = "*"
flask_session = "*"

[dev-packages]

[requires]
python_version = "3.10"
