[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
requests = "*"
crepe = "*"
numpy = "*"
scipy = "*"
librosa = "*"
Flask-Cors = "*"
pymongo = "*"
python-dotenv = "*"
flask-session = "*"
pretty-midi = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
