<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse MIDIs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet", type="text/css", href="../static/style.css">
</head>
<body>
    <div class="browse-button">
        <a href="{{ url_for('index') }}"><button class="button"><i class="material-icons">home</i></button></a>
    </div>

    <div class="auth-buttons">
        {% if 'user_id' not in session %}
            <a href="{{ url_for('login') }}"><button class="button" id="login" title="login">Login</button></a>
        {% else %}
            <a href="{{ url_for('logout') }}"><button class="button" id="logout" title="logout">Log Out</button></a>
        {% endif %}
    </div>
    <h1>Browse MIDI Files</h1>
    <p>No MIDI files available.</p>
</body>
</html>

