<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sing & Sync</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet", type="text/css", href="../static/style.css">
    </head>

    <body>
        <div class="auth-buttons">
            <a href="{{url_for('login')}}"><button class="button" id="login" title="login">Login</button></a>
            <a href="{{url_for('logout')}}"><button class="button" id="logout" title="logout">Logout</button></a>
        </div>
        
        <h1><b><center>Sing & Sync</center></b></h1>
        <div class="upload-section">  
            
            <div class="visualizer-container">
                <svg id="vizSample"></svg>
            </div>

            <div id="control-container" class="button-container">
                <button class="button" id="recordButton" title="Start Recording" onclick="toggleRecording();">
                    <i class="material-icons" id="recordIcon">fiber_manual_record</i>
                </button>
                <button class="button" id="play" title="play" onclick="" disabled><i class="material-icons">play_arrow</i></button>
                <button class="button" id="stop" title="stop" onclick="" disabled><i class="material-icons">stop</i></button>
                <button class="button" id="save" title="save" onclick="" disabled><i class="material-icons">download</i></button>
                <label class="button" id="fileBtn" title="upload midi">
                    <i class="material-icons">upload_file</i>
                    <input type="file" id="fileInput" multiple>
                </label>
            <button class="button" title="information" onclick="toggleDescription()"><i class="material-icons">info</i></button>
            </div>

            <div id="notification" class="notification-hidden">
                <p id="notification-text"></p>
            </div>
            
            <div id="detectedNotesDisplay" class="notes-display-hidden">
                <p id="detectedNotesText"></p>
            </div>
            
            <div id="loadingIndicator" class="hidden">Loading...</div>

            <div id="modal-background" onclick="toggleDescription()" style="display: none;">
                <div id="description-container" onclick="event.stopPropagation();">
                    <h3>Instructions</h3>
                    <button onclick="toggleDescription()" class="close-btn"><i class="material-icons">close</i></button>
                    <ul>
                        <li><i class="material-icons">radio_button_checked</i> Record your MIDI Notes</li>
                        <li><i class="material-icons">play_arrow</i> Plays the seqeuence</li>
                        <li><i class="material-icons">stop</i> Stops the sequence</li>
                        <li><i class="material-icons">download</i> Saves note sequence to a .mid file</li>
                        <li><i class="material-icons">upload_file</i> Add your midi sequence to our collection.</li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="../static/script.js"></script>
    </body>
</html>
