html, body {
    margin: 20;
    padding: 20;
    background-color:rgb(36, 36, 36);
    font-family: 'Helvetica'
}
  
.upload-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p, b {
  color: #ffffff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

p {
  font-size: 14px;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: center;
  row-gap: 1em;
  margin: 5px 5px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}
  
.button {
  margin: 2px;
  padding: 10px 20px;
  background-color: rgb(68, 68, 68);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#login{
  margin-bottom: 7px;
}

.button:hover {
  background-color: #333333;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #222222;
}

.button:disabled { 
  cursor: not-allowed;  
  opacity: 0.6;      
  pointer-events: none;  
}

.button i {
  vertical-align: middle;  
}

input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  display: none;
  box-shadow: none;
  font-size: inherit;
  width: 60px;
  color: inherit;
  font-weight: inherit;
  text-align: center;
}

.visualizer-container {
  border-radius: 5px;
  position: relative;
  width: 600px;
  margin: 0 auto;
  height: 250px;
  border: 1px solid #b9b1b1;
  background-color: #b9b1b1;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

svg {
  border: 1px solid #b9b1b1;
  background-color: #b9b1b1;
  margin: 50px;
  width: 100%; 
  display: inline-block;
}

/* Makes the background greyed out */
#modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

#description-container {
  background-color: rgb(36, 36, 36);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  padding: 20px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  text-align: left;
  color:#ffffff; 
}

#description-container h3 {
  margin-top: 0;
}

#description-container ul {
  list-style-type: none;
  padding-left: 0;
}

#description-container li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color:#ffffff; 
}

.close-btn:focus {
  outline: none;
}

.show {
  display: block;
}

.notification-hidden {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #444444;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.notification-shown {
  display: block;
}

.hidden {
  display: none;
}

#loadingIndicator {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  z-index: 1000; 
}